.App {
  text-align: center;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  a {
    text-decoration: none;
    font-size: 3vw;
    color: white;
  }

  a:hover {
    color: #10ebe0;
  }



  #main-message-left {
    font-size: 4vw;
    position: relative;
    animation: fadein 10s ease, slideright 3s 5s ease-out;
    padding-bottom: 10px;
  }

  #main-message-right {
    font-size: 3vw;
    position: relative;
    animation: fadein 10s ease, slideleft 3s 5s ease-out;
  }

  #search-box-container {
    /* border: 1px solid white; */
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
    /* border: 4px solid rgba(250, 61, 61, 0.7); */
  }

  #search-form {
    width: 100%;
    
  }

  /* search box container */
  #search-box {
    border-radius: 5px;
    width: 75%;
    height: 70%;
    text-align: center;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);

  }
  #search-button {
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 5px;
    height: 80%;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);

  }

  /* main search box container */

  #main-message-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    /* border: 1px solid green; */
  }

  #message-container {
    width: 100%;
    /* border: 1px solid red; */
  }

  #message-error {
    color: red;
  }

  #main-message {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  @keyframes fadein {
    0% {
      opacity: 0;
    }
    66% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes slideleft {
    from {
      left: 200px;
    }
    to {
      left: 0px;
    }
  }

  @keyframes slideright {
    from {
      right: 200px;
    }
    to {
      right: 0px;
    }
  }

  .navbar {
    /* height: 64px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    /* padding: 0 50px; */
    padding-bottom: 10px;
    /* border: 1px solid white; */
  }

  #navbar-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 0 50px; */
    /* flex: 0 0 auto; */
    /* border: 1px solid white; */
  }
  
  .navbar-logo {
    margin-top: 6px;
    margin-right: 5px;
    /* border: 1px solid white; */
    
    /* justify-content: space-around; */
  }
  
  .navbar-title {
    font-size: 6vw;
    color: white;
    text-shadow: 2px 2px #727272;
    /* border: 1px solid white; */
  }

  .navbar-button {
    width: 15vw;
    height: 15px;
    display: flex;
    justify-content: space-around;
    background-color: rgba(52, 56, 65, 1);
    border-radius: 5px;
    display: none;
    border: 1px solid white;
  }

  svg.out-of-stock-logo {
    width: 15vw;
    height: 15vw;
    animation: markerhideshow 0.2s ease-out;
  }

  svg.in-stock-logo {
    width: 15vw;
    height: 15vw;
    animation: markerhideshow 0.2s ease-out;
  }
}

@media only screen and (min-width: 600px) {
  .navbar-title {
    margin-top: 1vw;
    display: flex;
    justify-content: space-around;
    font-size: 3.5vw;
    color: white;
    text-shadow: 2px 2px #727272;
  }

  a {
    text-decoration: none;
    font-size: 1.6vw;
    color: white;
  }

  a:hover {
    color: #10ebe0;
  }

  #main-message-left {
    font-size: 1.2vw;
    position: relative;
    animation: fadein 10s ease, slideup 7s 5s ease-out;
  }

  #main-message-right {
    font-size: 1.2vw;
    position: relative;
    animation: fadein 10s ease, slideup 7s 5s ease-out;
  }
  #search-box-container {
    margin-bottom: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* border: 4px solid rgba(250, 61, 61, 0.7); */
  }

  #search-form {
    width: 100%;
  }

  /* search box container */
  #search-box {
    border-radius: 5px;
    width: 70%;
    height: 100%;
    text-align: center;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.75);

  }
  #search-button {
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 5px;
    height: 80%;
    box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.75);

  }

  /* main search box container */

  #main-message-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  #message-error {
    color: red;
  }

  #main-message {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  @keyframes fadein {
    0% {
      opacity: 0;
    }
    66% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes slideright {
    from {
      right: 500px;
    }
    to {
      right: 0px;
    }
  }

  @keyframes slideup {
    from {
      top: 200px;
    }
    to {
      top: 0px;
    }
  }

  .navbar {
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    flex: 0 0 auto;
    padding-bottom: 20px;
  }
  #navbar-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    flex: 0 0 auto;
    /* border: 1px solid white; */
  }

  .navbar-logo {
    margin-top: 2.2vw;
    justify-content: space-around;
  }

  .navbar-button {
    width: 10vw;
    height: 2.6vw;
    display: flex;
    justify-content: space-around;
    background-color: rgba(52, 56, 65, 1);
    border-radius: 5px;
  }

  svg.out-of-stock-logo {
    width: 6vw;
    height: 6vw;
    animation: markerhideshow 0.2s ease-out;
  }

  svg.in-stock-logo {
    width: 6vw;
    height: 6vw;
    animation: markerhideshow 0.2s ease-out;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navbar-right {
  width: 150px;
  display: flex;
  vertical-align: middle;
  justify-content: space-around;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
}

.navbar-left {
  width: 150px;
  display: flex;
  justify-content: space-around;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
}

svg.main-logo {
  width: 6vw;
  height: 6vw;
  animation: rotate 3s ease-in, kaboom 3s 3s ease alternate;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes kaboom {
  80% {
    transform: scale(0.9);
  }
  90% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

g.main-logo {
  fill: white;
  opacity: 0.9;
}

/* main area */

#main {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



#map-container {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  width: 100%;
  border: 6px solid rgb(71, 71, 71);
  border-radius: 4px;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.75);
}

#loading-map-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  opacity: 1;
  left: -350px;
  top: -50px;
  width: 600px;
  height: 40px;
  border-radius: 10px;
  background-color: rgba(210, 212, 219, 0.6);
  /* display: flex; */
  box-shadow: 3px 3px 5px 0px rgba(61, 61, 61, 0.75);
  padding: 30px;
  border: 4px solid rgba(49, 49, 49, 0.7);
}

#init-map-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  opacity: 1;
  left: -350px;
  top: -50px;
  width: 600px;
  height: 40px;
  border-radius: 10px;
  background-color: rgba(210, 212, 219, 0.6);
  /* display: flex; */
  box-shadow: 3px 3px 5px 0px rgba(61, 61, 61, 0.75);
  padding: 30px;
  border: 4px solid rgba(49, 49, 49, 0.7);
  /* animation: hideshow 65s ease-out; */
}

@keyframes hideshow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

#init-map-message-text {
  padding: 3px;
  font-size: 2.5em;
  color: rgba(49, 49, 49, 0.85);
  font-weight: bold;
}

@keyframes markerhideshow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

g.out-of-stock-logo {
  fill: red;
  opacity: 0.9;
}

g.in-stock-logo {
  fill: green;
  opacity: 0.9;
}

#not-listed-marker {
  animation: markerhideshow 0.3s ease-out;
}

/* auth form */

.auth-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 400px;
}

.form-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-submit {
  width: 100px;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-submit:hover {
  background-color: #45a049;
}

.map-text-background {
  border-radius: 5px;
  background-color: indianred;
  display: flex;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
}

.map-text {
  padding: 3px;
  color: black;
}

/* end of search box */

/* map marker buttons */

.marker-container {
  /* width: 150px;
  display: flex;
  justify-content: space-around;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
  background: #282c34; */
}

#search-result{
  color: black;
  font-size: 1rem;

}